 header{
    background-color: rgb(42, 42, 95);
color:white;
}
 
.cabecalho {
    background-color: #0d2752;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.cabecalho-imagem{
    width: 8%;
    }
.cabecalho-lista-item{display:inline-block;

}

