 header{
    background-color: rgb(42, 42, 95);
color:white;
}
 
.cabecalho {
    background-color: #124ba7;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.cabecalho-imagem{
    width: 10%;
    
}