 *{
    margin: 0;
    padding: 0;

 }
 header{
    background-color: rgb(42, 42, 95);
color:white;
}
 
.cabecalho {
    background-color: #0d2752;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.cabecalho-imagem{
    width: 8%;
    }
.cabecalho-lista-item{
display:inline-block;
margin:0 18px ;
font-size: 18px;
}
.cole.{ 
    width: 10%;}



